Chapter1/Exercise1.1/build
Chapter1/Exercise1.2/build
Chapter1/Exercise1.3/build
Chapter1/Exercise1.4/build
Chapter1/Exercise1.5/build
Chapter1/Exercise1.6/build
Chapter1/Exercise1.7/build
Chapter1/Exercise1.8/build
Chapter1/Exercise1.9/build
Chapter1/Exercise1.10/build
Chapter1/Exercise1.11/build
Chapter1/Exercise1.12/build
Chapter1/Exercise1.13/build