Chapter1/Exercise1.1/build
Chapter1/Exercise1.2/build
Chapter1/Exercise1.3/build
Chapter1/Exercise1.4/build
Chapter1/Exercise1.5/build
Chapter1/Exercise1.6/build
Chapter1/Exercise1.7/build
Chapter1/Exercise1.8/build
Chapter1/Exercise1.9/build
Chapter1/Exercise1.10/build
Chapter1/Exercise1.11/build
Chapter1/Exercise1.12/build
Chapter1/Exercise1.13/build
Chapter1/Exercise1.14/build
Chapter1/Exercise1.16/build
Chapter1/Exercise1.17/build
Chapter1/Exercise1.20/build
Chapter1/Exercise1.21/build
Chapter1/Exercise1.22/build
Chapter1/Exercise1.23/build
Chapter1/Exercise1.25/build
Chapter2/Exercise2.1/build
Chapter2/Exercise2.4/build
Chapter2/Exercise2.8/build